<div id="viewLogin" class="login">
  <section class="ui grid centered">
      <form name="loginForm">
          <div class="fields">
              <div class="required field">
                  <div class="ui icon input">
                      <input type="text" name="username" placeholder="Username">
                      <i class="user icon"></i>
                  </div>
              </div>
              <div class="required field">
                  <div class="ui icon input">
                      <input type="password" name="password" placeholder="Password">
                      <i class="lock icon"></i>
                  </div>
              </div>
              <div class="field">
                  <button class="ui icon input" (click)="login()">
                      <input type="submit" value="Login">
                      <i class="right chevron icon"></i>
                  </button>
              </div>
          </div>
      </form>
      <div id="error" class="error-msg"></div>
  </section>
</div>